@use '../abstracts' as abs;

.card {
  text-align: center;
  background: abs.$lightBlack;
  width: 150px;
  padding: 1.125rem 1.25rem;

  img {
    width: 4.375rem;
    margin: 0.625rem 0 1.875rem 0;
  }

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
