@use '../abstracts' as abs;

.main {
  @include abs.breakpoint(large) {
    display: flex;
  }

  &__weather {
    background: abs.$lightBlack;
    padding: 0.75rem 0;
    min-height: 100vh;

    @include abs.breakpoint(medium) {
      padding: 2.625rem 0;
    }

    @include abs.breakpoint(large) {
      width: 370px;
    }

    .buttons {
      padding: 0 1.125rem;

      @include abs.breakpoint(medium) {
        padding: 0 2.875rem;
      }
    }

    div:nth-child(2) {
      text-align: center;

      .image {
        img {
          width: 9.375rem;
          margin-top: 4.75rem;

          @include abs.breakpoint(medium) {
            width: 12.5rem;
          }
        }
      }

      > div {
        .date {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 3rem 0 2rem 0;

          span {
            margin: 0 1rem;
            color: abs.$lighterText;
          }
        }

        .location {
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            color: abs.$lighterText;
            margin-right: 0.5625rem;
          }
        }
      }
    }
  }

  &__details {
    .card-container {
      padding: 3.25rem 3.375rem;
      display: flex;
      flex-wrap: wrap;
      gap: 26px;

      @include abs.breakpoint(large) {
        padding: 3.25rem 5.5rem;
      }
    }

    .highlights {
      padding: 0 1.4375rem 3.25rem 1.4375rem;

      @include abs.breakpoint(large) {
        padding: 0 5.5rem 3.25rem 5.5rem;
      }

      .highlight-container {
        gap: 26px;

        @include abs.breakpoint(medium) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }

        .highlight:first-child {
          > div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1.5rem;

            > span {
              background: abs.$gray;
              height: 30px;
              width: 30px;
              padding: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50px;
              margin-right: 0.5rem;

              i {
                font-size: 12px;
              }
            }
          }
        }

        .humidity-mark {
          margin-top: 1.5rem;

          .mark {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
              font-weight: 700;
              color: abs.$lightText;
            }
          }

          .progress-bar {
            position: relative;
            width: 100%;
            background: abs.$text;
            height: 10px;
            border-radius: 80px;

            .range {
              position: absolute;
              width: 80%;
              height: 100%;
              background: abs.$yellow;
              border-radius: 80px;
            }
          }

          .percent {
            font-weight: 700;
            color: abs.$lightText;
            text-align: right;
          }
        }
      }
    }
  }
}
