@use '../abstracts' as abs;

.main {
  @include abs.breakpoint(large) {
    display: flex;
  }

  &__weather {
    background: abs.$lightBlack;
    padding: 0.75rem 0;
    min-height: 100vh;

    @include abs.breakpoint(medium) {
      padding: 2.625rem 0;
    }

    @include abs.breakpoint(large) {
      width: 330px;
    }

    .buttons {
      padding: 0 1.125rem;

      @include abs.breakpoint(medium) {
        padding: 0 2.875rem;
      }
    }

    div:nth-child(2) {
      text-align: center;

      .image {
        img {
          width: 9.375rem;
          margin-top: 4.75rem;

          @include abs.breakpoint(medium) {
            width: 12.5rem;
          }
        }
      }

      > div {
        .date {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 3rem 0 2rem 0;

          span {
            margin: 0 1rem;
            color: abs.$lighterText;
          }
        }

        .location {
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            color: abs.$lighterText;
            margin-right: 0.5625rem;
          }
        }
      }
    }
  }
}
