// Colors
$lightBlack: #1e213a;
$black: #100e1d;
$gray: #6e707a;
$yellow: #ffec65;
$text: #e7e7eb;
$lightText: #a09fb1;
$lighterText: #88869d;
$blue: #3c47e9;

// Fonts
$fontRaleway: "Raleway", sans-serif;
